$background-light: #f4f6f9;
$text-light: #2c2c2c;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

$white: #fff;
$grey: #ccc;

$primary: #f5df66;
$primary-200: #e1ce60;

$secondary: #eaecf2;
$secondary-200: #d6d7dd;
