@import "../../../../styles/variables";

nav {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  background: $white;

  img {
    width: 2rem;
    height: 2rem;
  }
}
